{% extends 'base.html' %}

<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts.min.js"></script>
    <script src="http://oog4yfyu0.bkt.clouddn.com/echarts-gl.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/china.js"></script>
    <script type="text/javascript " src="http://echarts.baidu.com/gallery/vendors/echarts/map/js/world.js"></script>
    <script type="text/javascript " src="http://oog4yfyu0.bkt.clouddn.com/wordcloud.js"></script>
</head>

{% block body %}

<form id="1" method="POST" action="/exports_data">

     <select name="the_type_selected">
      {% for item in the_select_type %}
            <option value="{{ item }}">{{ item }}</option>
       {% endfor %}
    </select>
<p><input value='Do it!' type='SUBMIT'></p>
</form>

<p><input type='SUBMIT' onclick='javascript:history.back(-1);' value='返回上一页'></p>


{{ the_plot_all|safe }}
{{ the_res|safe }} {#放数据#}


{% endblock %}