<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="7e93398fb5a8451a86a9d87a06b80d4f" class="chart-container" style="width:1440px; height:900px;"></div>
    <script>
        var chart_7e93398fb5a8451a86a9d87a06b80d4f = echarts.init(
            document.getElementById('7e93398fb5a8451a86a9d87a06b80d4f'), 'white', {renderer: 'canvas'});
        var option_7e93398fb5a8451a86a9d87a06b80d4f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "bar",
            "name": "world",
            "data": [
                122993125694.28099,
                128413078113.771,
                134119420261.343,
                147015538990.71698,
                165251163586.74802,
                179217834010.344,
                196169799317.649,
                207108420304.018,
                230273196288.40802,
                262926860267.51602,
                302336380722.338,
                338627648489.99,
                400765217866.68396,
                556477172903.775,
                816411717923.823,
                846298668292.202,
                958268575167.077,
                1087584965828.88,
                1260757067710.42,
                1607017632619.84,
                1976270303937.09,
                1954885990107.73,
                1811100968525.44,
                1762149892187.66,
                1878748197890.29,
                1898814659888.65,
                2070346297031.86,
                2440232627182.05,
                2799148884164.42,
                3037124367918.36,
                3467316558102.54,
                3552832445772.23,
                3809917338987.59,
                3816499958431.6,
                4351027815288.5,
                5191205287586.02,
                5440973987105.39,
                5637036367924.69,
                5536476643805.97,
                5757092773381.93,
                6498523772741.58,
                6234220007488.46,
                6541809667198.67,
                7638026135244.63,
                9281599501865.61,
                10575882785255.7,
                12206578234325.2,
                14114476705544.9,
                16265034835762.7,
                12636284734127.2,
                15400389743160.8,
                18455312496774.8,
                18629425900075.8,
                19071824543267.3,
                19105889665271.3,
                16636199600699.6,
                16132979770283.6,
                17845611277143.4,
                19600450335047.8,
                null,
                null
            ],
            "barCategoryGap": "20%",
            "label": {
                "show": false,
                "position": "top",
                "margin": 8
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "world"
            ],
            "selected": {
                "world": true
            },
            "show": true
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    },
    "xAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            },
            "data": [
                1960,
                1961,
                1962,
                1963,
                1964,
                1965,
                1966,
                1967,
                1968,
                1969,
                1970,
                1971,
                1972,
                1973,
                1974,
                1975,
                1976,
                1977,
                1978,
                1979,
                1980,
                1981,
                1982,
                1983,
                1984,
                1985,
                1986,
                1987,
                1988,
                1989,
                1990,
                1991,
                1992,
                1993,
                1994,
                1995,
                1996,
                1997,
                1998,
                1999,
                2000,
                2001,
                2002,
                2003,
                2004,
                2005,
                2006,
                2007,
                2008,
                2009,
                2010,
                2011,
                2012,
                2013,
                2014,
                2015,
                2016,
                2017,
                2018
            ]
        }
    ],
    "yAxis": [
        {
            "show": true,
            "scale": false,
            "nameLocation": "end",
            "nameGap": 15,
            "gridIndex": 0,
            "inverse": false,
            "offset": 0,
            "splitNumber": 5,
            "minInterval": 0,
            "splitLine": {
                "show": false,
                "lineStyle": {
                    "width": 1,
                    "opacity": 1,
                    "curveness": 0,
                    "type": "solid"
                }
            }
        }
    ],
    "title": [
        {
            "text": "\u4e16\u754c\u8d38\u6613\u989d"
        }
    ],
    "dataZoom": {
        "show": true,
        "type": "slider",
        "realtime": true,
        "start": 20,
        "end": 80,
        "orient": "horizontal",
        "zoomLock": false
    }
};
        chart_7e93398fb5a8451a86a9d87a06b80d4f.setOption(option_7e93398fb5a8451a86a9d87a06b80d4f);
    </script>
</body>
</html>